.infoBlock {
  background-color: white;
  color: blue;
  border-radius: 16px;
  padding: 16px;
  width: 500px;
}

.inputText {
  color: black;
}

input {
  background-color: #f3f4f6;
  width: 250px;
  color: black;
}

.buttonBox {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 16px;
}

button {
  padding: 0.7rem 1.1rem;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.overallBox {
  display: flex;
  justify-content: center;
}
