.submit-edit-buttons {
  display: flex;
  gap: 16px;
  flex-direction: row;
}

.work-main-information {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 48px;
}

.work-entry {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.work-header {
  text-decoration: underline;
}
