@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");

:root {
  --primary-color: #d7fff1;
  --secondary-color: #285943;
  --button-color: #285943;

  font-family: "Science Gothic";
}

.App {
  background-color: var(--primary-color);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  font: inherit;
}

.general-section,
.work-section,
.objective-section,
.education-section {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

button {
  max-width: fit-content;
}
